html {
  font-size: 16px; }

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background: url(../img/concrete_seamless.png); }

img {
  max-width: 100%; }

header, .navbar-header, .navbar {
  background: black;
  text-transform: uppercase;
  border: 0; }
  header .navbar-nav > li > a, header .navbar-brand, .navbar-header .navbar-nav > li > a, .navbar-header .navbar-brand, .navbar .navbar-nav > li > a, .navbar .navbar-brand {
    color: white; }
    header .navbar-nav > li > a:hover, header .navbar-brand:hover, .navbar-header .navbar-nav > li > a:hover, .navbar-header .navbar-brand:hover, .navbar .navbar-nav > li > a:hover, .navbar .navbar-brand:hover {
      color: #ade1f2; }
  header .nav li a.active, .navbar-header .nav li a.active, .navbar .nav li a.active {
    background: #2ab0dc;
    font-weight: 400; }
    header .nav li a.active:hover, .navbar-header .nav li a.active:hover, .navbar .nav li a.active:hover {
      color: white; }

header h1 {
  margin: 0;
  font-weight: 300; }
  @media (min-width: 320px) and (max-width: 767px) {
    header h1 {
      overflow: hidden;
      padding-bottom: 15px; } }
  header h1 a.navbar-brand {
    font-size: 1rem; }
    @media (min-width: 320px) and (max-width: 767px) {
      header h1 a.navbar-brand span.bold {
        display: block; } }

.bold {
  font-weight: 400; }

.content.container-fluid {
  padding-left: 30px;
  padding-right: 0; }
  @media (min-width: 320px) and (max-width: 767px) {
    .content.container-fluid {
      padding-left: 0px; } }

.post-snippet {
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #ccc; }
  .post-snippet h3 {
    margin-bottom: 5px;
    font-size: 1.4rem; }
  .post-snippet .categories {
    font-size: .8rem; }

.blog-sidebar {
  background: white; }
  @media (min-width: 320px) and (max-width: 767px) {
    .blog-sidebar {
      padding-top: 10px;
      margin-bottom: 60px; } }
  .blog-sidebar .photo {
    background: url(../img/computer_head.jpg) no-repeat;
    background-size: cover;
    border: 3px solid white;
    box-shadow: 0 0 5px #ccc;
    border-radius: 50%;
    width: 90%;
    height: auto;
    padding-top: 90%;
    margin: 15px auto 0 auto;
    position: relative; }
    @media (min-width: 320px) and (max-width: 767px) {
      .blog-sidebar .photo {
        width: 80%;
        padding-top: 80%; } }
  .blog-sidebar h3.description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 15px 0;
    text-align: center; }
  .blog-sidebar .social {
    padding: 0;
    list-style-type: none;
    font-size: 1rem; }
    .blog-sidebar .social li a {
      display: block;
      margin-bottom: 5px;
      padding: 5px	 10px;
      color: white;
      background: #2ab0dc; }
      .blog-sidebar .social li a:hover {
        background: #1e90b5;
        text-decoration: none; }
      .blog-sidebar .social li a i {
        width: 20px;
        text-align: center;
        margin-right: 10px; }

p.title {
  font-size: 1.6rem;
  border-bottom: 3px solid #2ab0dc;
  margin-bottom: 30px; }

.portfolio {
  margin-bottom: 60px; }
  .portfolio .port-piece img {
    border: 1px solid #999; }
  .portfolio .port-piece h2 {
    font-size: 1.4rem;
    border-bottom: none; }
  .portfolio .port-piece a {
    color: #111; }
  @media (min-width: 320px) and (max-width: 767px) {
    .portfolio .col-sm-4 {
      text-align: center;
      margin-bottom: 60px; } }

.blog-preview p {
  font-size: 1rem; }
.blog-preview h3 {
  font-size: 1.4rem;
  margin: 0 0 5px 0; }
  .blog-preview h3 a {
    color: #111; }
.blog-preview .date {
  margin-bottom: 10px;
  display: block; }
.blog-preview .read-more {
  display: block;
  text-align: right;
  border-bottom: 1px solid #2ab0dc;
  font-weight: 400;
  margin-bottom: 60px; }
  .blog-preview .read-more a {
    padding: 2px 5px;
    background: #2ab0dc;
    color: white; }
    .blog-preview .read-more a:hover {
      background: #1e90b5;
      text-decoration: none; }
    .blog-preview .read-more a i {
      margin-right: 3px;
      vertical-align: middle; }

.post {
  font-size: 1rem; }
  .post h2 {
    margin-top: 0;
    text-transform: capitalize; }
  .post article {
    clear: both; }
  .post img {
    margin: 30px 0; }
    .post img.center {
      margin: 30px auto;
      display: block; }
  .post .video-container {
    margin: 30px 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden; }
    .post .video-container.first {
      margin-top: 0; }
    .post .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

h2 {
  font-size: 2rem;
  border-bottom: 1px solid #2ab0dc;
  margin-bottom: 10px;
  padding-bottom: 10px; }

.post-meta {
  margin-bottom: 30px;
  padding: 5px;
  font-size: .8rem;
  font-weight: 400;
  background: #ddd;
  display: inline-block; }

.post-pagination {
  margin-top: 60px;
  font-size: 1.2rem; }
  .post-pagination a {
    display: inline-block;
    background: #2ab0dc;
    padding: 5px 10px;
    color: white; }
    .post-pagination a:hover {
      background: #1e90b5;
      text-decoration: none; }
  .post-pagination i {
    vertical-align: middle;
    margin-top: -3px; }
  .post-pagination .previous-link {
    float: left; }
    .post-pagination .previous-link a i {
      margin-right: 8px; }
  .post-pagination .next-link {
    float: right; }
    .post-pagination .next-link a i {
      margin-left: 8px; }

.footer.container-fluid {
  margin-top: 100px;
  background: black; }

footer {
  color: white;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase; }
  footer a {
    color: white; }
    footer a:hover {
      color: white; }
  footer h5 {
    display: inline;
    font-weight: 300; }
    @media (min-width: 320px) and (max-width: 767px) {
      footer h5 {
        display: none; } }
  footer ul {
    list-style-type: none;
    display: inline; }
    @media (min-width: 320px) and (max-width: 767px) {
      footer ul {
        display: block;
        padding: 0; } }
    footer ul li {
      display: inline;
      margin-right: 10px;
      border-right: 1px solid #777;
      padding-right: 10px; }
      @media (min-width: 320px) and (max-width: 767px) {
        footer ul li {
          display: block;
          margin: 0;
          border: none;
          padding: 0; }
          footer ul li a {
            display: block;
            padding: 10px 0; } }
      footer ul li:last-child {
        border-right: none;
        padding-right: 0;
        margin-right: 0; }
      footer ul li i {
        margin-right: 8px; }
