body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background: url(../img/concrete_seamless.png); }

header, .navbar-header, .navbar {
  background: black;
  text-transform: uppercase;
  border: 0; }
  header .navbar-nav > li > a, header .navbar-brand, .navbar-header .navbar-nav > li > a, .navbar-header .navbar-brand, .navbar .navbar-nav > li > a, .navbar .navbar-brand {
    color: white; }

.blog-sidebar {
  background: white;
  border-left: 8px solid #2ab0dc; }
  .blog-sidebar .photo {
    background: url(../img/computer_head.jpg) no-repeat;
    background-size: cover;
    border: 3px solid white;
    box-shadow: 0 0 5px #ccc;
    border-radius: 50%;
    width: 90%;
    height: auto;
    padding-top: 90%;
    margin: 15px auto 0 auto;
    position: relative; }
  .blog-sidebar .description {
    margin: 15px 0;
    text-align: center; }
  .blog-sidebar .social {
    padding: 0;
    list-style-type: none; }
    .blog-sidebar .social li a {
      display: block;
      margin-bottom: 5px;
      padding: 0 10px;
      color: white;
      background: #2ab0dc; }
      .blog-sidebar .social li a:hover {
        background: #1e90b5;
        text-decoration: none; }
      .blog-sidebar .social li a i {
        width: 20px;
        text-align: center;
        margin-right: 10px; }
