---
layout: default
---

<div class="content container-fluid portfolio">
  <div class="row">
    <div class="col-sm-12">
      <p class="title">New Portfolio Pieces</p>
    </div>
    <div class="col-sm-4">
      <div class="port-piece">
      <a href="/music/please-say-you-never-will/"><img src="img/homepage-portfolio-thumbs/kotomi_please.jpg" alt="Kotomi - Please (Say You Never Will)"></a>
      <h2><a href="/music/please-say-you-never-will/">Kotomi - Please (Say You Never Will)</a></h2>
      <p>Writing, guitars and production on a new single by Kotomi.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="port-piece">
      <a href="/portfolio/checkout-flow-redesign/"><img src="img/homepage-portfolio-thumbs/checkout_redesign.jpg" alt="Checkout Flow Redesign"></a>
      <h2><a href="/portfolio/checkout-flow-redesign/">Magento Checkout Flow Redesign</a></h2>
      <p>Wireframe and video walkthrough of a radically redesigned checkout flow.</p>
      </div>
      </div>
    <div class="col-sm-4">
      <div class="port-piece">
      <a href="/portfolio/just-luigis-rebranding/"><img src="img/homepage-portfolio-thumbs/just_luigis.jpg" alt="Just Luigi's Pizzeria Rebranding"></a>
      <h2><a href="/portfolio/just-luigis-rebranding/">Just Luigi's Pizzeria Rebranding</a></h2>
      <p>Branding redesign for a local pizzeria, with a jQuery mobile site.</p>
      </div>
    </div>
  </div>
</div>

<div class="content container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <p class="title">Recent Ramblings</p>
      <div class="blog-preview">
        {% for post in site.categories.writing limit:3 %}  
          <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
          <span class="date">posted {{ post.date | date_to_string }}</span>
          {{ post.content | split:'<!--break-->' | first }}
          {% if post.content contains '<!--break-->' %}
          <span class="read-more"><a href="{{ post.url }}"><i class="fa fa-plus-square-o"></i> read more</a></span>
          {% endif %}
          {% endfor %}
        </div>
      </div>
  </div>
</div>