---
layout: default
---

<div class="content container-fluid portfolio">
  <div class="row">
    <p class="title">New Portfolio Pieces</p>
    <div class="col-sm-4">
      <div class="port-piece">
      <a href="#"><img src="img/kotomi_please.jpg" alt="Kotomi - Please (Say You Never Will)"></a>
      <h2><a href="#">Kotomi - Please (Say You Never Will)</a></h2>
      <p>Here's a short description of what this particular item is and what it means forever and ever amen.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="port-piece">
      <a href="#"><img src="img/checkout_redesign.jpg" alt="Checkout Flow Redesign"></a>
      <h2><a href="#">Checkout Flow Redesign</a></h2>
      <p>Here's a short description of what this particular item is and what it means forever and ever amen.</p>
      </div>
      </div>
    <div class="col-sm-4">
      <div class="port-piece">
      <a href="#"><img src="img/living_infographic.jpg" alt="Living Infographic"></a>
      <h2><a href="#">Living Infographic</a></h2>
      <p>Here's a short description of what this particular item is and what it means forever and ever amen.</p>
      </div>
    </div>
  </div>
</div>

<div class="home container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <p class="title">Recent Ramblings</p>
      <div class="blog-preview">
        {% for post in site.posts limit:3 %}  
          <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
          <span class="date">posted {{ post.date | date_to_string }}</span>
          {{ post.content | split:'<!--break-->' | first }}
          {% if post.content contains '<!--break-->' %}
          <span class="read-more"><a href="{{ post.url }}"><i class="fa fa-plus-square-o"></i> read more</a></span>
          {% endif %}
          {% endfor %}
        </div>
      </div>
  </div>
</div>