<div class="footer container-fluid">
	<footer class="site-footer">

	    <h5 class="footer-heading"><a href="/">{{ site.title }}</a></h5>

	    <ul>
	    	<li><a href="https://twitter.com/_justinburrow"><i class="fa fa-twitter-square"></i>Twitter</a></li>
	    	<li><a href="https://www.linkedin.com/in/justinburrow84"><i class="fa fa-linkedin-square"></i>LinkedIn</a></li>
	    	<li><a href="https://soundcloud.com/justin-plays-guitar"><i class="fa fa-soundcloud"></i>SoundCloud</a></li>
	    	<li><a href="mailto:justinburrow@gmail.com"><i class="fa fa-envelope"></i>Let's Chat</a></li>
	    </ul>
	    
	</footer>
</div>
