        <div class="col-sm-3 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <div class="photo"></div>
            <h3 class="description">Los Angeles based Front End Web Developer, UX Enthusiast, Guitarist, Audio Engineer.  This is where I'll keep portfolio pieces, writings about web development, and clips of music I've worked on.</h3>
            <ul class="social">
              <li><a href="#"><i class="fa fa-twitter-square"></i>Twitter</a></li>
              <li><a href="#"><i class="fa fa-soundcloud"></i>SoundCloud</a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i>LinkedIn</a></li>
              <li><a href="mailto:justinburrow@gmail.com"><i class="fa fa-envelope"></i></i>Let's Chat</a></li>
            </ul>
          </div>
        </div><!-- /.blog-sidebar -->
