body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background: url(../img/concrete_seamless.png);
}

header, .navbar-header, .navbar {
    background: black;
    text-transform: uppercase;
    border: 0;
    .navbar-nav>li>a, .navbar-brand {
        color: white;
    }
}