html {
    font-size: 16px;
}

body {
    font-family: $base-font-family;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background: url(../img/concrete_seamless.png);
}

img {
    max-width: 100%;
}

header, .navbar-header, .navbar {
    background: black;
    text-transform: uppercase;
    border: 0;
    .navbar-nav>li>a, .navbar-brand {
        color: white;
        &:hover {
            color: lighten($sidebar-accent, 30%);
        }
    }
    .nav li a.active {
        background: $sidebar-accent;
        font-weight: 400;
        &:hover {
            color: white;
        }
    }
}

header h1 {
    margin: 0;
    font-weight: 300;
    @include mobile {
        overflow: hidden;
        padding-bottom: 15px;
    }
    a.navbar-brand {
        font-size: 1rem;
        span.title-desc {
                &::before {
                    content: " - ";
                }
            }
        @include mobile {
            span.bold {
                display: block;
                font-size: 1.6rem;
            }
            span.title-desc {
                &::before {
                    content: "";
                }
            }
        }
    }
}

.bold {
    font-weight: 400;
}

.content.container-fluid {
    padding-left: 30px;
    padding-right: 0;
    @include mobile {
        padding-left: 0px;
    }
}

.post-snippet {
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #ccc;
    h3 {
        margin-bottom: 5px;
        font-size: 1.4rem;
    }
    .categories {
        font-size: .8rem;
    }
}