html {
    font-size: 16px;
}

body {
    font-family: $base-font-family;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background: url(../img/concrete_seamless.png);
}

img {
    max-width: 100%;
}

header, .navbar-header, .navbar {
    background: black;
    text-transform: uppercase;
    border: 0;
    .navbar-nav>li>a, .navbar-brand {
        color: white;
    }
}

header h1 {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;

}

.bold {
    font-weight: 400;
}